body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
	height: 100%;
	line-height: 1.8;
}
header{
	color: aliceblue;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
	background-image: url('https://img.stereo.ru/Kirill_Shipakin/50815f9c031c64be9357209be951845d.jpg');
	min-height: 100%;
}
.bgimg-2 {
	background-image: url("https://cs10.pikabu.ru/post_img/big/2020/05/15/5/1589525892199544153.png");
	min-height: 400px;
}

/*#logout{*/
/*	display: none;*/
/*}*/

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
	.bgimg-1, .bgimg-2, .bgimg-3 {
		background-attachment: scroll;
		min-height: 400px;
	}
}

/*form*/
.body {
	background-image: url('https://img.stereo.ru/Kirill_Shipakin/50815f9c031c64be9357209be951845d.jpg');

	font-family: 'Ubuntu', sans-serif;
}



.forgot {
	text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
	color: #E1BEE7;
	padding-top: 15px;
}

a {
	text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
	color: #E1BEE7;
	text-decoration: none
}

#todayMovie{
	display: none;
}

.container {
	position: relative;
}

.image {
	display: block;
	width: 100%;
	height: auto;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #7a8f96;
	background-color: rgba(208, 220, 220, 0.6);
}

.container:hover .overlay {
	opacity: 1;
}

.btn {
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	transition: all .5s ease;
	color: #fff;
	border: 3px solid white;
	font-family:'Montserrat', sans-serif;
	text-transform: uppercase;
	line-height: 1;
	background-color : transparent;
	padding: 10px;
	outline: none;
	border-radius: 4px;
}

.btn:hover{
	color: #001F3F;
	background-color: #fff;
}

.upperLogo{
	text-transform: uppercase;
}


.black-header{
	background-color: #000;
	color: #ffffff;
}


body{
	background-color: rgba(189, 189, 189, 0.5);
}
.border{
	border-bottom: 4px solid #3f3f3f;
}
.color-for-link{
	background: #b6b6b6 !important;
}

.wrapper{
	min-height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.main{
	flex: 1 1 auto;
	width: 80%;
}

#allSessions, #allMovies{
	display: none;
}
.marg{
	margin: 5px;
}
.padd{
	padding-bottom: 15px;
}

#allSessions h1{
	text-align: center;
}


.fsdfew {
	margin: 3px 0px;
	border-bottom: 1px solid white;
}

.fsdfew:last-child{
	border-bottom: none;
}