body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
	height: 100%;
	line-height: 1.8;
}
header{
	color: aliceblue;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
	background-image: url('https://img.stereo.ru/Kirill_Shipakin/50815f9c031c64be9357209be951845d.jpg');
	min-height: 100%;
}
.bgimg-2 {
	background-image: url("https://cs10.pikabu.ru/post_img/big/2020/05/15/5/1589525892199544153.png");
	min-height: 400px;
}

/*#logout{*/
/*	display: none;*/
/*}*/

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
	.bgimg-1, .bgimg-2, .bgimg-3 {
		background-attachment: scroll;
		min-height: 400px;
	}
}

/*form*/
.body {
	background-image: url('https://img.stereo.ru/Kirill_Shipakin/50815f9c031c64be9357209be951845d.jpg');

	font-family: 'Ubuntu', sans-serif;
}

.w3-button-m{
	margin: 2px;
}


.forgot {
	text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
	color: #E1BEE7;
	padding-top: 15px;
}

a {
	text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
	color: #E1BEE7;
	text-decoration: none
}

#tomorrowMovie, #dayAfterTomorrowMovie{
	display: none;
}

.container {
	position: relative;
}

.image {
	display: block;
	width: 100%;
	height: auto;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #7a8f96;
	background-color: rgba(208, 220, 220, 0.6);
}

.container:hover .overlay {
	opacity: 1;
}

.btn {
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	transition: all .5s ease;
	color: #fff;
	border: 3px solid white;
	font-family:'Montserrat', sans-serif;
	text-transform: uppercase;
	line-height: 1;
	background-color : transparent;
	padding: 10px;
	outline: none;
	border-radius: 4px;
}

.btn:hover{
	color: #001F3F;
	background-color: #fff;
}

.upperLogo{
	text-transform: uppercase;
}


.black-header{
	background-color: #000;
	color: #ffffff;
}


body{
	background-color: rgba(189, 189, 189, 0.5);
}
.border{
	border-bottom: 4px solid #3f3f3f;
}
.color-for-link{
	background: #b6b6b6 !important;
}

.wrapper{
	min-height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.main{
	flex: 1 1 auto;
	width: 80%;
}

#allSessions, #allMovies, #allNews, #allDiagrams{
	display: none;
}

.marg{
	margin: 5px;
}
.padd{
	padding-bottom: 15px;
}

#allSessions h1{
	text-align: center;
}


.fsdfew {
	margin: 3px 0px;
	border-bottom: 1px solid white;
}

.fsdfew:last-child{
	border-bottom: none;
}

/*admin news*/

section {
	width: 90%;
	margin: 20px auto;
	position: relative;
	cursor: pointer;
	overflow: hidden;
}

@media only screen and (min-width: 1024px) {
	article {
		display: flex;
	}
	section {
		width: 30%;
	}
}

section:hover .scroll {
	top: 0;
}

.project {
	width: 100%;
	display: block;
	border-radius: 2px;
}

.scroll {
	position: absolute;
	top: 100%;
	height: 100%;
	background: rgba(256, 256, 256, 0.8);
	color: #333;
	/*   display: none; */
	transition: top 0.6s;
}

.scroll h1 {
	padding: 10px;
	font-size: 20px;
	letter-spacing: 0.2em;
	text-align: center;
}
.scroll p {
	padding: 10px;
}



/*admin news*/


/* Mohave & Open Sans Fonts */
@import url("https://fonts.googleapis.com/css2?family=Mohave:wght@300;700&family=Open+Sans&display=swap");
/* Fonts & Colors */
:root {
	--title-font: "Mohave", sans-serif;
	--body-font: "Open Sans", sans-serif;
	--orange: hsl(0, 100%, 65%);
	--lighter-orange: hsl(0, 100%, 77%);
	--grey: hsl(197, 3%, 46%);
	--dark: hsl(0, 0%, 16%);
	--white: hsl(0, 0%, 100%);
}

/* General */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

::selection {
	background-color: var(--lighter-orange);
	color: var(--white);
}

p {
	margin: 0;
}
p:not(:last-child) {
	margin-bottom: 14px;
}

ul {
	list-style: none;
}

img {
	width: 100%;
}

/* Layout */
.mainNews {
	max-width: 12000px;
	margin: 0 auto;
}

/* Typography */
.card_title {
	font-family: var(--title-font);
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
}

.card_text p {
	font-family: var(--body-font);
	font-size: 14px;
	line-height: 24px;
}

/* Utilities */
.orange {
	color: var(--orange);
}

.note-sm {
	color: var(--grey);
	font-family: var(--title-font);
	font-size: 14px;
}

/* Components */
.cards {
	align-items: start;
	display: flex;
	flex-wrap: wrap;
	margin: 50px 0;
}
.cards_item {
	display: flex;
	padding: 1rem;
}

.card {
	background-color: var(--white);
	border-radius: 0.25rem;
	box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.card_content {
	padding: 26px 16px 16px;
}
.card_title {
	margin-bottom: 5px;
}
.card_text {
	margin: 16px 0;
}
.card_btn {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 12px;
	text-transform: capitalize;
	font-family: var(--body-font);
	float: right;
}
.card_btn:hover {
	text-decoration: underline;
}

/* Media queries */
@media (min-width: 40rem) {
	.cards_item {
		width: 50%;
	}
}
@media (min-width: 56rem) {
	.cards_item {
		width: 33.3333%;
	}
}




/*bgc button*/
.card_image{
	position: relative;
}
.card_image:hover{
	opacity:0.7;
}

/* Make the image responsive */
.card_image img{
	width: 100%;
	height: auto;
}


.card_image .bcg-btn{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #494949;
	color: white;
	font-size: 16px;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

.bcg-btn{
	position:absolute;
	display:none;
}
.card_image:hover .bcg-btn{
	display:block;
}

.newsDiagram{
	height: 500px;
	max-height: 100%;
}

.error {
	color: red;
}