<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Cinema</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{../css/main.css}" rel="stylesheet"/>
</head>

<body>

<header>
    <div class="w3-top black-header">
        <div class="w3-bar" id="myNavbar">
            <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right"
               href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
                <i class="fa fa-bars"></i>
            </a>
            <a th:href="@{/}" class="w3-bar-item w3-button">HOME</a>
            <a th:href="@{/movie}" class="w3-bar-item w3-button w3-hide-small"><i class=""></i> FILMS</a>
            <a th:href="@{/about}" class="w3-bar-item w3-button w3-hide-small"><i class="fa"></i> ABOUT</a>
            <div sec:authorize="isAnonymous()">
                <a th:href="@{/login}" class="w3-bar-item w3-button w3-hide-small w3-right ">LOGIN</a>
                <a th:href="@{/registration}" class="w3-bar-item w3-button w3-hide-small w3-right ">REGISTER</a>
            </div>
            <div sec:authorize="isAuthenticated() and hasRole('Admin')">
                <a th:href="@{/logout}" class="w3-bar-item w3-button w3-hide-small w3-right ">LOGOUT</a>
                <a sec:authentication="name" th:href="@{/admin}"
                   class="w3-bar-item w3-button w3-hide-small w3-right upperLogo"></a>
            </div>
            <div sec:authorize="isAuthenticated() and hasRole('User')">
                <a th:href="@{/logout}" class="w3-bar-item w3-button w3-hide-small w3-right ">LOGOUT</a>
                <a sec:authentication="name" th:href="@{/account}"
                   class="w3-bar-item w3-button w3-hide-small w3-right upperLogo"></a>
            </div>
        </div>

        <!-- Navbar on small screens -->
        <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
            <a th:href="@{/movie}" class="w3-bar-item w3-button" onclick="toggleFunction()">FILMS</a>
            <a th:href="@{/about}" class="w3-bar-item w3-button" onclick="toggleFunction()">ABOUT</a>
            <a th:href="@{/login}" class="w3-bar-item w3-button w3-right">LOGIN</a>
            <a th:href="@{/logout}" class="w3-bar-item w3-button w3-right">LOGOUT</a>
        </div>
    </div>
</header>

<wrapper class="wrapper">


    <main class="w3-content w3-container w3-padding-64 main">

        <div>
            <button onclick="document.getElementById('order').style.display='block'" class="w3-button w3-block color-for-link"> ADD NEW TICKET </button>
        </div>

        <div class="mainNews">
            <ul class="cards">
                <li class="cards_item" th:each="ticket : ${tickets}">
                    <div class="card">
                        <div class="card_image">
                            <img th:src="${ticket.session.movie.img}" alt="mixed vegetable salad in a mason jar. " />
                        </div>
                        <div class="card_content">
                            <h2 class="card_title" th:text="${ticket.session.movie.name}"> </h2>
                            <button class="card_btn orange">See more +</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>


        <div id="order" class="w3-modal">
            <div class="w3-modal-content w3-animate-zoom padd">
                <div class="w3-container w3-black">
                    <span onclick="document.getElementById('order').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
                    <h1>Add New Movie</h1>
                </div>
                <div class="w3-container">
                    <p>Enter the required data for the Movie: </p>
                    <form th:action="@{/ticket/addNewTicketToUser}" th:object="${ticketForAdd}" method="post">
                        <select name="session" class="w3-input w3-padding-16 w3-border marg" >
                            <option th:each="SessionForAccount : ${allSessionForAccount}" th:value="${SessionForAccount.sessionId}" th:text="${SessionForAccount.movieName}"></option>
                        </select>
                        <button class="w3-bar marg" type="submit">Add</button>
                    </form>
                </div>
            </div>
        </div>

    </main>


    <footer class="w3-center w3-black w3-padding-64 w3-opacity account-footer">
        <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
        <div class="w3-xlarge w3-section">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapschat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div>
    </footer>

</wrapper>
<script type="text/javascript" th:src="@{/js/js.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

</body>
</html>
