<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>

    <title>Cinema</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{css/main.css}" rel="stylesheet"/>
</head>
<body>
<div tiles:fragment="content">
    <div class="login" tiles:fragment="content">
        <fieldset>
            <div th:if="${param.error}" class="alert alert-error">
                Неправильные имя и пароль.
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>
            <h1>Login</h1>
            <form name="f" th:action="@{/login}" method="post">
            <input type="text" id="username" name="username" placeholder="Username" required="required" />
            <input type="password" id="password" name="password" placeholder="Password" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">LOG IN</button>
            </form>
        </fieldset>
    </div>
</div>
</body>
</html>