<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<title>Cinema</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link th:href="@{../css/main.css}" rel="stylesheet"/>

<div th:replace="~{fragments/header :: header}"></div>


<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
    <div class="w3-display-middle" style="white-space:nowrap;">
        <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity"><span
                class="w3-hide-small">SHAKHTAR</span></span>
    </div>
</div>


<main class="w3-content w3-container w3-padding-64">


    <div id="about">
        <h3 class="w3-center">Movies</h3>
        <p>The Shakhtar Club was founded in October 1999 by two enthusiasts. The goals of the club are to provide an
            opportunity for:<br>
            professionals - to maintain the level of the language for<br>
            students - to improve their skills for<br>
            both - to have a pleasant and useful time.</p>

    </div>

    <div class="w3-section w3-padding-16 border">
        <button class="w3-button w3-white color-for-link w3-button-m" onClick="todayMovie();return false;" id="linkToday">TODAY</button>
        <button class="w3-button w3-white color-for-link w3-button-m" onClick="tomorrowMovie();return false;" id="linkTomorrow">TOMORROW</button>
        <button class="w3-button w3-white color-for-link w3-button-m" onClick="dayAfterTomorrowMovie();return false;" id="linkDayAfterTomorrow">DAY AFTER TOMORROW</button>
    </div>

    <div id="todayMovie">
        <div class="mainNews">
            <ul class="cards">
                <li class="cards_item" th:each="todaySession : ${todaySessions}">
                    <div class="card">
                        <div class="card_image">
                            <img th:src="${todaySession.movieImg}" alt="pic"/>
                            <button sec:authorize="hasRole('User')" class="bcg-btn"><a href="/account">Order</a></button>
                        </div>
                        <div class="card_content">
                            <h2 class="card_title" th:text="${todaySession.movieName}"></h2>
                            <div class="card_text">
                                <p th:text="${#temporals.format(todaySession.date, 'HH:mm')}"></p>
                                <p><span th:text="${todaySession.price}"></span> $</p>
                            </div>
                            <button class="card_btn orange">See more +</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div id="tomorrowMovie">
        <div class="mainNews">
            <ul class="cards">
                <li class="cards_item" th:each="tomorrowSession : ${tomorrowSessions}">
                    <div class="card">
                        <div class="card_image">
                            <img th:src="${tomorrowSession.movieImg}" alt="pic"/>
                            <button sec:authorize="hasRole('User')" class="bcg-btn"><a href="/account">Order</a></button>
                        </div>
                        <div class="card_content">
                            <h2 class="card_title" th:text="${tomorrowSession.movieName}"></h2>
                            <div class="card_text">
                                <p th:text="${#temporals.format(tomorrowSession.date, 'HH:mm')}"></p>
                                <p><span th:text="${tomorrowSession.price}"></span> $</p>
                            </div>
                            <button class="card_btn orange">See more +</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div id="dayAfterTomorrowMovie">
        <div class="mainNews">
            <ul class="cards">
                <li class="cards_item" th:each="dayAfterTomorrowSession : ${dayAfterTomorrowSessions}">
                    <div class="card">
                        <div class="card_image">
                            <img th:src="${dayAfterTomorrowSession.movieImg}" alt="pic"/>
                            <button sec:authorize="hasRole('User')" class="bcg-btn"><a href="/account">Order</a></button>
                        </div>
                        <div class="card_content">
                            <h2 class="card_title" th:text="${dayAfterTomorrowSession.movieName}"></h2>
                            <div class="card_text">
                                <p th:text="${#temporals.format(dayAfterTomorrowSession.date, 'HH:mm')}"></p>
                                <p><span th:text="${dayAfterTomorrowSession.price}"></span> $</p>
                            </div>
                            <button class="card_btn orange">See more +</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>


</main>


<div th:replace="~{fragments/footer :: footer}"></div>

<script type="text/javascript" th:src="@{/js/js.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

</body>
</html>
